<section class="grid min-h-full place-items-center px-6 py-52 sm:py-60">
  <div class="text-center">
    <p class="font-bebasneue font-bold text-3xl text-gray-800">404</p>
    <h1 class="mt-4 text-3xl font-bebasneue text-gray-800 sm:text-5xl">Page not found</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Perdón, no pudimos encontrar la página que estabas buscando.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="rounded-md bg-[#FFD95A] px-3.5 py-2.5 text-center text-lg font-bebasneue text-gray-900 shadow-sm hover:bg-[#cbac47]">Go back home</a>
      <a href="./contacto" class="text-sm font-semibold text-gray-900">Contactar soporte <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</section>