<footer class="py-5 px-2 bg-[#4C3D3D] sm:px-8 xl:px-56">
  <div class="lg:flex lg:justify-between lg:gap-3">
    <div class="lg:block lg:text-left">
      <div class="pb-5 text-center sm:text-left lg:block lg:text-left lg:pb-0">
        <h1 class="font-bebasneue text-2xl text-white">NAVEGACIÓN</h1>
      </div>
      <div class="grid grid-cols-2 text-center sm:text-left lg:block">
        <div><a href="../index.html" class="font-bebasneue text-xl text-white lg:text-sm">Inicio</a></div>
        <div><a href="./productos.html" class="font-bebasneue text-xl text-white lg:text-sm">Productos</a></div>
        <div><a href="./nosotros.html" class="font-bebasneue text-xl text-white lg:text-sm">Nosotros</a></div>
        <div><a href="./contactos.html" class="font-bebasneue text-xl text-white lg:text-sm">Contacto</a></div>
      </div>
    </div>
        <div>
            <div class="lg:block lg:text-left">
                <div class="py-5 text-center sm:text-left lg:p-0">
                    <h1 class="font-bebasneue text-2xl text-white lg:text-lg">Medios de Pago</h1>
                </div>
                <div class="grid grid-cols-4 gap-y-2 gap-x-4 lg:gap-2">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="visa">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="mastercard">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="amex">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="diners">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="ar_banelco">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="ar_cabal">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="ar_tarjeta-naranja">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="ar_tarjeta-shopping">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="mercadopago">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="ar_argencard">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="pagofacil">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="h-14 lg:h-8 lg:w-auto" alt="rapipago">
                </div>
            </div>
            <div class="lg:block lg:text-left">
                <div class="py-5 text-center sm:text-left">
                    <h1 class="font-bebasneue text-2xl text-white lg:text-lg">Formas de Envío</h1>
                </div>
                <div class="flex justify-center gap-2 pb-5 sm:justify-start">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/table@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/table@2x.png" class="h-12 w-auto lg:h-8" alt="table">
                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/branch@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/branch@2x.png" class="h-12 w-auto lg:h-8" alt="branch">
                </div>
            </div>
        </div>
        <div>
            <div class="pb-2 text-center sm:text-left">
                <h1 class="font-bebasneue text-2xl text-white lg:text-lg">Contactanos</h1>
            </div>
            <div class="pb-2 text-center sm:text-left sm:flex sm:justify-start sm:items-center sm:gap-5">
                <span class="material-symbols-outlined text-white">call</span>
                <p class="font-light text-sm text-gray-200 lg:text-xs">Whatsapp (123) 4567-8999</p>
            </div>
            <div class="pb-2 text-center sm:text-left sm:flex sm:justify-start sm:items-center sm:gap-5">
                <span class="material-symbols-outlined text-white" >alternate_email</span>
                <p class="font-light text-sm text-gray-200 lg:text-xs">test@gmail.com</p>
            </div>
            <div class="pb-5 text-center sm:text-left sm:flex sm:justify-start sm:items-center sm:gap-5">
                <span class="material-symbols-outlined text-white" >location_on</span>
                <p class="font-light text-sm text-gray-200 lg:text-xs">Lorem Ipsum, CABA.</p>
            </div>
        </div>
        <div>
            <div class="pb-5 text-center sm:text-left">
                <h1 class="font-bebasneue text-2xl text-white">Redes Sociales</h1>
            </div>
            <div class="flex justify-center gap-7 pb-5 sm:justify-start lg:justify-center">
                <a href="#"><i class="fa-brands fa-instagram text-white text-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-facebook text-white text-2xl"></i></a>
            </div>
        </div>
    </div>
    <div class="pb-5 text-center">
        <h1 class="font-light text-sm text-gray-200">Copyright 2023 by Hernan Agustin Otero | All Rights Reserved.</h1>
    </div>
</footer>