---

---

<section class="fixed top-0 h-full -right-full w-full bg-[#605151] shadow-md z-50 md:top-0 md:w-80" id="shoppingCartSection">

  <div class="text-white absolute top-3 left-3 md:top-0 md:-left-4 cursor-pointer" id="closeCart">
    X
  </div>

  <div class="shadow-[rgba(0,0,0,0.15)_0px_10px_6px_-1px] flex p-4 pl-8 md:p-4 justify-between items-center lg:h-[7%]">
    <h1 class="font-bebasneue text-3xl text-white font-bold">CARRITO</h1>
    <button class="material-symbols-outlined text-white" id="emptyCart">delete</button>
  </div>

  <div class="overflow-auto h-[70%] md:h-[55%] lg:h-[80%] p-4 " id="cartContent">
    <div class="flex justify-center">
      <h2 class="font-bebasneue text-lg text-white font-light">Tu carrito está vacío.</h2>
    </div>
  </div>

  <div class="p-4 font-bebasneue text-2xl text-center text-white shadow-[rgba(0,0,0,0.15)_0px_-10px_6px_-1px] lg:h-[5%]"> 
    <p id="totalCostText"></p>
  </div>

  <div class="p-4 ">
    <button class="w-full bg-[#C07F00] font-bebasneue text-white px-5 py-2 hover:bg-[#FFD95A] lg:h-[8%]" id="buyingCart">Comprar</button>
  </div>

</section>